body {
    margin: 0; /*Que no haya margin y padding que da el navegador default para que nosotros lo manipulemos más adelante*/
    padding: 0; /*Borde inferior debajo de un elemento*/
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/
header {
    width: 100%; /*Para que el header ocupe todo el ancho de la pantalla*/
    height: 60px; /*Altura del elemento*/
}

* {
    text-decoration: none; /*Elimina la decoración de texto*/
    cursor: pointer; /*Cambia el cursor del mouse cuando esta sobre un elemento*/
}

/*Busca una etiqueta nav que esté dentro de la etiqueta header*/
header nav {
    display: flex;
    justify-content: flex-end; /*Alinación de los elementos secundarios*/
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex; /*Posicion de los elementos*/
    list-style: none; /*Para quitar los puntos de la lista*/
    justify-content: center;
    align-items: center; /*Alinia los elementos secundarios verticalmente en el centro del contenedor*/
}

nav .nav-right-section a {
    margin-right: 10px; /*Agrega un margen derecho*/
    color: #000000;
}

a {
    text-decoration: none;
    cursor: pointer;
}

nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png"); /*Imagen de fondo*/
    background-repeat: no-repeat; /*Evitaa que la imagen de fondo se repita*/
    background-position: center; /*Coloca la imagen de fondo en el centro del elemento*/
    background-size: contain; /*Se ajusta al elemento sin distorsionarse*/
    width: 25px;
    height: 25px;
}

nav .nav-right-section img {
    border-radius: 50%; /*Esquinas redondas a un elemento*/
    margin-left: 10px; /*Agrega un margen izquierdo*/
}

/*Main*/
/*Busca una etiqueta main que esté dentro de la etiqueta header*/
main {
    margin-top: 150px; /*Agrega un margen en la parte superior*/
    text-align: center; /*Alinación de texto contenido en el elemento horizontalmente*/
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px; /*Agrega un margen en la parte inferior*/
}

/*La imagen ya tiene las dimensiones necesarias, pero si no fuera así, este estilo le da el tamaño adecuado*/
main .main-logo img {
    height: 92px;
    width: 272px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input input{
    width: 450px;
    height: 40px;
    border: none; /*Elimina cualquier borde alrededor*/
    outline: none; /*Elimina cualquier contorno alrededor*/
}

main .main-input-container {
    width: 525px;
    border: 1px solid #dfe1e5; /*Establece un borde alrededor, tamaño y color*/
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447; /*Agrega sombras alrededor*/
}

main .main-input .search-icon {
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    width: 18px;
    height: 18px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    width: 18px;
    height: 18px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-input .cam-icon {
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQU9EB56qp8B5qgt89OtkGpN86KFafBM7cBixk1nXOs7ukEVbJE');
    width: 22px;
    height: 22px;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block; /*Elemento en línea*/
}

main .main-buttons button {
    height: 36px;
    background-color: #f8f9fa;
    border: 0; /*Elimina cualquier borde*/
    font-size: 14px;
    color: #5f6368;
    border-radius: 6px;
    padding: 0 15px;
    margin-right: 12px;
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 0.5px 1px 0 #000001;
    cursor: pointer;
}

/*Footer*/

footer {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 15px;
    border-top: 1px solid #e4e4e4;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #5f6368;
}